body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.box1, .box2, .box3, .box4 {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  margin: 20px;
}

.container {
  display: flex;
}

.container img {
  margin: 0 auto;
}

.flex-container {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(212, 212, 212);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 201px;
  margin: 0 auto;
}

.item {
  margin: 10px;
  text-align: center;
}

.item img {
  width: 100px;
  height: auto;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.caja {
  border: 2px solid rgb(94, 92, 90);
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: "Courier New", 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 5px;
}

.header a {
  display: block;
  background-color: rgb(51, 248, 149);
  color: black;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Impact", serif;
}

.header h1 {
  margin: 0px 0;
  font-size: 60px;
  text-decoration: none;
  padding: 0px;
}

.header h1 img {
  vertical-align: middle;
  margin-right: 10px;
}

.header a:hover {
  color: black;
  background-color: lightgreen;
}

.subheader {
  background-color: rgb(11, 118, 56);
  color: white;
  padding: 10px;
  text-align: left;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.options li {
  margin-right: 10px;
  cursor: pointer;
}

.options li a {
  color: white;
  text-decoration: none;
}

.options li a:hover {
  text-decoration: underline;
}

.horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.subcaja,
.subcaja1,
.subcaja2 {
  padding-left: 170px !important;
  background-color: rgb(13, 255, 211);
  width: 900px;
  height: 100px;
  color: rgb(18, 156, 138);
  font-family: "Arial", 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 80%;
  line-height: 0.5;
}
.subcaja4 {
  background-color: rgb(13, 255, 211);
  width: 100%;
  height: 50px;
  background-color: rgb(209, 206, 206);
  float: right;
}
